body {
    /*overflow: hidden;*/
    margin: 0px;
    padding: 0px;
    background-color: rgb(245, 245, 245) ;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1 0 25vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    margin:0px;
    padding: 5px 0px 10px 0px;
    font-weight: bolder;
    
}

.logo img{
    border-radius: 50px;
    box-shadow: grey;
    border-width: 4px;
}

 .buttons {
    flex:1 0 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    

}
.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rock , .paper , .scissors{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: grey;
    border-width: 1.5px;
    box-shadow: 4px 4px lightgrey;
    width: 205px;
    height: 205px;
    margin: 0px;
}

.results{
    flex:1 ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 50px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 5vh;
}

.restart{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: grey;
    border-width: 1.5px;
    box-shadow: 4px 4px lightgrey;
    width: 150px;
    height: 60px;
    font-weight: bold;
}

.restartButton{
    display: flex;
    justify-content: center;
    align-items: center;

}


.matchResults , .howWins, .matches{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
}